version: 2
updates:
- package-ecosystem: nuget
  directories:
    - "src/Pure.Chart.RichRelationalModel"
    - "src/Tests/Pure.Chart.RichRelationalModel.Tests"
  schedule:
    interval: daily
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly
